/* 张祥庚，用于制作blog */
/* bothqia@126.com */
/* guangzhou */
/* 2016.4.7 */
/* 版本0.0.2 */
/* ps:版本0.0.1起始于 2016.3.8 */

@import "./var";
@import "./reset";
@import "./btn";
@import "./skin";
@import "./u-icon";
@import "./unit";
@import "./function";
@import "./g";
.m-list-nav{
  .item{
    float: left;
    padding: .3rem .5rem;
    width: 20%;
    text-align: center;
    border: .2rem solid #ccc;
    border-right: 0;
    font-size: 1.2rem;
    &:last-child{
      border: .2rem solid #ccc;
    }
  }
}
.m-list-box{
  margin: 1rem;
}
.m-list-item{
  .left{
    float:left; 
    width:40%;
    .img{
      width:100%;
    }
    .cc{
      display: inline-block;
      width: 100%;
      font-size:1.6rem;
      text-align:center;
    }
  }
  .right{
    float:right;
    width:60%;
  }
  .foot{
    float:right;
    width:60%;
  }
}
.m-login{
  width: 100%;
  height: 100%;
}

